
/***********************************/
/* General User Interface for WAGA */
/***********************************/
body {
	background-image: url(../ressources/fond/bg_hublot.jpeg);
	background-repeat:no-repeat;
	background-position:center center;
	background-attachment:fixed; 
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
}

#flipbgdroite{

background-image: url(../ressources/ui/icon-next_right.png);
background-repeat:no-repeat;
position: fixed;
top: 30px;
right: 40px;
width: 40px;
height: 20px;

z-index:800;

}
#flipbgdroite:hover{
background-image: url(../ressources/ui/icon-next_right_hover.png);
background-repeat:no-repeat;
}

#flipbggauche{

background-image: url(../ressources/ui/icon-next_left.png);
background-repeat:no-repeat;
position: fixed;
top: 50px;
right: 60px;
width: 40px;
height: 20px;

z-index:800;
}
#flipbggauche:hover{
background-image: url(../ressources/ui/icon-next_left_hover.png);
background-repeat:no-repeat;

}

#cleanscene{
background-image: url(../ressources/ui/icon-reload.png);
background-repeat:no-repeat;
position: fixed;
top: 40px;
left: 40px;
width: 40px;
height: 40px;

z-index:800;
}
#cleanscene:hover{
background-image: url(../ressources/ui/icon-reload_hover.png);

}

div.fileinputs {
  background-image: url(../ressources/ui/icon-load_image.png);
  background-repeat:no-repeat;
  bottom: 40px;
  left: 40px;
  width: 40px;
  height: 40px;
	position: fixed;

  z-index:800;
}
div.fileinputs:hover {
  background-image: url(../ressources/ui/icon-load_image_hover.png);
  background-repeat:no-repeat;
}

div.fakefile {
  opacity: 0;
	z-index: 1;
}

input.file {
	position: relative;
	text-align: right;
	-moz-opacity:0 ;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
}

/* Actually not used, and toogle sound is by navigator tab ui*/
/*
#togglesound{
background-image: url(../ressources/ui/audio-volume-high.png);
background-repeat:no-repeat;
position: fixed;
bottom: 40px;
left: 40px;
width: 40px;
height: 40px;

z-index:800;
}
#togglesound:hover{
background-image: url(../ressources/ui/audio-volume-muted.png);
}
*/

#menubas
{
	background-image: url(../ressources/ui/artmobilis.png);
	background-repeat:no-repeat;
	background-size: 100%;
	position: fixed;
	bottom: 10px;
	right: 40px;
	width: 260px;
	height: 125px;

	z-index:800;
}

#menubas:hover
{
	background-image: url(../ressources/ui/artmobilis-nb.png);
}

/***********************************/
/* ANIMEMALS and elements */
/***********************************/

.animemal {
	position:fixed;
}
.animemal img {
	width: 100%;
}

.corner {
    position: absolute;
    width: 10px;
    height: 10px
}
.TL {
    top: 0px;
    left: 0px
}
.TR {

    top: 0px;
    right: 0px
}
.BL {
    bottom: 0px;
    left: 0px
}
.BR {
    bottom: 0px;
    right: 0px
}

.draggable:hover {
	cursor: pointer; /* move */
	
}

.resizable {  

} 

.resizable:hover {

}

.resizable img {
	display: block;
}

.resizeui{	
	background-image: url(../ressources/ui/poignee-taille.png); 
	visibility: hidden;
}

.rotatable {
	background-image: url(../ressources/ui/poignee-rotato.png);
	visibility: hidden;
}

.rotatable:hover{	
	transform : rotate(45deg);
}

.duplicatable{
	background-image: url(../ressources/ui/poignee-duplic.png); 
	visibility: hidden;
}

/***********************************/
/* ProgressBar and elements */
/***********************************/

#loading{
z-index:800;
}

#progress{ 
width: 300px; 
margin: auto;
}

.hidetransition{
opacity: 0;
transition: all 2s ease;
}

#slider{
  opacity: 0.8;
	width:100%;
	height:15px;
	border:1px solid #000;
  border-radius: 13px;
	overflow:hidden;
	background: #cedce7;
}
#sliderbar{
	width:37%;
	height:15px;
	border-right: 1px solid #000000;
  border-radius: 10px;
	background: DeepSkyBlue;
}
#slidertext {
	color: #000000;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    left: 25px;
    position: relative;
    top: -16px;
}

/****************************************/
/* Format of the hidden side of the moon */
/*****************************************/
h3
{
	font-size : 80%;	
}

div.menuhaut
{
	background-color: rgba(240,240,240,0.9);	
	border: 2px solid black;
	border-radius: 6px;

	max-height: 70%;
	padding:1em 5em;
	margin-right: 25%;

	text-align: justify;
	font-weight: normal;

	overflow: auto;

	display: none;
	visibility: hidden;
	
	position:fixed; 
	top:2em; 
	left:5%;
}

a.menuhaut
{
	background-color: rgba(120,120,120,0.8);

	margin-left: 2em;
	padding: 1em;
	
	font-weight: bold;
	font-size: 120%;
	
	visibility: hidden;
}

a.menuhaut:hover + div.menuhaut
{
    display: block;
}

div.menuhaut:hover
{
    display: block;
}


div.menuhaut h3{
	font-weight: bold;
}

div.menuhaut h3.cite
{
	text-align:right;
	font-weight: normal;
}

div.menuhaut span.cite
{
	vertical-align : top;
	font-size: 60%;
}
